.body{
    background-color: #2148C0;
    text-align: center;
    zoom: 150%;
    margin-top: 200px;
}
.text-center{
    color:white;
    line-height: 0mm;
}
.w-100{
    margin-top: 20px;
    padding: 4px 10px;
}
.form-input {
    background-color: #406df5;
    color: white;
}
.form-input-password{
    background-color: #406df5;
    color: white;
}
#title{
    color: #F2994A;
}
.links:visited{
    color: #fff19f;
    text-decoration-line: none;
}
.links:link{
    color: #fff19f;
    text-decoration-line: none;
}
.text-center2{
    line-height: 0mm;
    color: white;
}
#sign{
    color: #F2994A;
    line-height: 0mm;
}
#up{
    color:white;
    line-height: 0mm;
}
#password{
    color: #F2994A;
    line-height: 0mm;
}
#reset{
    color: white;
    line-height: 0mm;
}