.react-kanban-column {
  background-color: #fdefcd;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
  min-height: 300px !important;
  width: 320px;
}

.react-kanban-card {
  margin: 10px 0 10px 0;
  padding: 20px 20px 20px 20px;
  background-color: white;
}

[data-rbd-droppable-context-id="0"] {
  white-space: pre-wrap !important;
}

.text-title {
  color: #2148c0;
  line-height: 0mm;
  text-align: center;
  font-size: 45px;
  font-family: fantasy;
  margin-top: 25mm;
}

.text-title2 {
  color: #2148c0;
  line-height: 0mm;
  text-align: center;
  font-size: 60px;
}
#container {
  margin-top: 50px;
}
#welcome {
  color: #2148c0;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.react-kanban-column-header {
  color: #2148c0;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: 5px;
}
#welcome2 {
  color: #f2994a;
  text-decoration-line: underline;
  text-decoration-color: #2148c0;
  line-height: 5mm;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.react-kanban-card__description {
  font-weight: 700;
  margin-top: 10px;
}

.signout-button,
.plan-button,
.dropdown-toggle {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.dashboard {
  text-align: center;
}

#welcome {
  line-height: 1.5;
}

.dropdown {
  display: inline;
}
.dropdown-item {
  text-align: left;
  font-size: smaller;
  color: black;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dropdown-menu {
  text-align: left;
  line-height: 1.4;
  padding: 15px 20px 15px 20px;
  background-color: #f2994a;
  border-radius: 25px;
  margin-top: 10px;
}

#column-draggable-1 {
  background-color: #fdefcd;
}

[data-rbd-draggable-id="column-draggable-2"],
[data-rbd-draggable-id="column-draggable-3"] {
  background-color: #f2f2f2;
}

[data-rbd-draggable-id="column-draggable-4"],
[data-rbd-draggable-id="column-draggable-5"] {
  background-color: #ffe1e1;
}

[data-rbd-draggable-id="column-draggable-6"],
[data-rbd-draggable-id="column-draggable-7"] {
  background-color: #caf3e9;
}

[data-rbd-draggable-id="column-draggable-8"],
[data-rbd-draggable-id="column-draggable-9"] {
  background-color: #cae9f3;
}

@media screen and (max-width: 555px) {
  .text-title {
    font-size: 35px;
  }

  #welcome {
    font-size: 20px;
  }
}
